{% extends "master.html" %}
{% block main %}
   {% if movies %}
    <div class="movie_area">
     {% for movie in movies %}
                <div class="div_movie" data-movie-item="{{movie.id}}">
                    <img class="movie"
                        tabindex="0"
                        role="button"
                        data-html="true"
                        data-toggle="popover"
                        data-trigger="focus"
                        title="{{ movie.title}}"
                        data-contentid="{{movie.id}}"
                        data-content="
                            Year: {{movie.year}}
                            <br/>
                            Rotten Tomate rating: {{ movie.rtallcriticsrating }}
                            <br />
                            <a onclick='PostEvent({{movie.id}}, 'SaveForLater')'
                               href='#' >save for later</a>
                            <br />
                            <a href='/movie/{{movie.id}}'
                            data-html='true'
                            onclick='PostEvent({{movie.id}}, 'MoreDetails')'
                            >more details</a>"
                    src="{{movie.rtpictureurl.strip}}" />
                </div>

            {% endfor %}

    <p class="clearBoth"></p>
    <div id="pagination">
        <span class="step-links">
            {% if movies.has_previous %}
            <a href="{{ url }}??page={{ movies.previous_page_number }}" >previous</a>
            {% endif %}

            <span class="current">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
            </span>

            {% if movies.has_next %}
            <a href="{{ url }}?page={{ movies.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
        {% else %}
            <p>No movies available.</p>
    {% endif %}
    <div><p>Number of movies found: {{number_of_movies}}</p></div>
    </div>
{% endblock main %}

{% block section%}
{% if not genres %}
        No genres found
{% else %}
  {% for genre in genres %}
    <a onclick='PostEvent({{genre.genre}}, "genre")' 
    href="/genre/{{genre.genre.strip}}">{{genre.genre}}</a><br />
  {% endfor %}
{% endif %}
{% endblock section%}

